@model JVLigaV2.Models.Halls.ArticleIndexModel
@{
	ViewData["Title"] = Model.Title;
}


<div id="halls">
	<h2>Haly</h2>
	<div class="hallsTable">
		<table class="table table-responsive" id="hallIndexTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var hall in Model.Halls)
				{
					<tr>
						<td>@hall.ID</td>
						<td>@hall.NAME</td>
						<td><a asp-area="" asp-controller="Hall" asp-action="Edit" asp-route-id="@hall.ID">Edit</a></td>
						<td><a asp-area="" asp-controller="Hall" asp-action="Delete" asp-route-id="@hall.ID">Delete</a></td>
					</tr>
				}
			</tbody>
		</table>
		<a class="btn btn-default" role="button" asp-area="" asp-controller="Hall" asp-action="Create">Přidat novou halu</a>
	</div>
</div>