@model JVLigaV2.Models.Admin.SeasonModel

@{
    ViewData["Title"] = "Vytvoření sezóny";
}


<div class="row">
	<div class="col-lg-4 mx-auto">
		<h2>Vytvoření sezóny</h2>
		@if (ViewBag.SeasonGenerated != string.Empty)
		{
			<h5 style="color: green">@ViewBag.SeasonGenerated</h5>
		}
		<form method="post">
			<div class="form-group">
				<label asp-for="Year"></label>
				<input asp-for="Year" class="form-control" />
				<span asp-validation-for="Year" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-secondary btn-sm">Vygenerovat</button>
		</form>
	</div>
</div>
