@model JVLigaV2.Models.Admin.SeasonModel

@{
    ViewData["Title"] = "Vytvoření sezóny";
}


<div class="row">
	<div class="col-lg-4">
		<h2>Vytvoření sezóny</h2>
		@if (ViewBag.SeasonGenerated != string.Empty)
		{
			<h5 style="color: green">@ViewBag.SeasonGenerated</h5>
		}
		<form method="post">
			<div class="form-group">
				<label asp-for="Year"></label>
				<input asp-for="Year" class="form-control" />
				<span asp-validation-for="Year" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-secondary btn-sm">Vygenerovat</button>
		</form>
	</div>
	<div class="col-lg-2 ml-lg-4">
		<table class="table table-sm">
	<thead class="thead-dark">
		<tr>
			<th>
				Rok
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var year in Model.Years)
		{
			<tr>
				<td>
					@year
				</td>
				<td>
					@if (User.IsInRole("Admin"))
					{

						<a asp-action="DeleteYear" asp-route-year="@year">Smazat</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
	</div>
</div>
