@model JVLiga.Models.Account.LoginModel

@{
	ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
	<div class="col-lg-7">
		<section>
			<form method="post" asp-action="LogIn">
				<h4>Use a local account to log in.</h4>
				<hr />
				<div class="form-group">
					<label asp-for="UserName"></label>
					<input asp-for="UserName" class="form-control" />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Password"></label>
					<input asp-for="Password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label asp-for="RememberMe">
							<input asp-for="RememberMe" />
							@Html.DisplayNameFor(m => m.RememberMe)
						</label>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Log in</button>
				</div>
				<div class="form-group">
						<p>
							<a asp-controller="Account" asp-action="Register">Zaregistrovat nového uživatele</a>
						</p>
					</div>
			</form>
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
