@model JVLigaV2.Models.Articles.ArticleDetailModel


@{
	ViewData["Title"] = Model.Title;
}

<div class="col-lg-11">
	<img class="img-fluid" src="@Html.Raw(Model.ImgSrc)" />
	<h1 style="color: dodgerblue">@Model.Title</h1>
	<h5>@Model.Description</h5>
	<p>@Html.Raw(Model.Body)</p>
</div>