@model JVLigaV2.Models.Articles.ArticleDetailModel


@{
	ViewData["Title"] = "Detail";
}

<div class="row">
	<h1 style="color: dodgerblue">@Model.Title</h1>
</div>
<div class="row">
	<h5>@Model.Description</h5>
</div>
<div class="row">
	<div class="col col-lg-6">
		<p>@Html.Raw(Model.Body)</p>
	</div>
	<div class="col">

	</div>
</div>


