@model JVLiga.Models.Articles.ArticleIndexModel

@using LeagueData.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	ViewData["Title"] = "Články";
}

<h2>Články</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Editor")) { 
	<p>
		<a asp-action="Create">Create New</a>
	</p>
	}
<table class="table">
	<tbody>
		@foreach (var article in Model.Articles)
		{
			<tr>
				<td>
					<h2><a style="color: dodgerblue" asp-action="Detail" asp-route-id="@article.Id">@Html.DisplayFor(modelItem => article.Title)</a></h2>
					<p style="color: black">@Html.DisplayFor(modelItem => article.Desrciption)</p>
				</td>
			</tr>
		}
	</tbody>
</table>
