
@if (Model != null)
{
<li class="nav-item dropdown">
	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">Sezóny</a>
	<ul class="dropdown-menu">
		@foreach (var season in Model)
		{
			<li class="dropdown-item">
				<a asp-area="" asp-controller="Match" asp-action="Season" asp-route-year="@season">@season</a>
			</li>
		}
	</ul>
</li>
}
